*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ECF0F3;
    font-family: sans-serif;
    outline: none;
}
 /* .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.calculator{
    background-color: #ECF0F3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,0.16)  ;
}
input{
    height: 100px;

    background-color: #ECF0F3;
    box-shadow: inset -5px -5px 12px #FFFFFF,
                inset  5px 5px 12px rgba(0, 0, 0,0.16) ;
    border: none !important;            

    border-radius: 30px !important;
    color: rgb(70,70,70);
    font-size: 40px !important;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 10px;
}

button{
    height: 100px;
    width: 100px;
    background-color: #ECF0F3 !important;
    color: black !important;
    border: none !important;
    box-shadow: -5px -5px 12px #FFFFFF,
                5px  5px 12px rgba(0, 0, 0,0.16);

    border-radius: 20% !important;
    font-size: 48px !important;
}

.equal{
    width: 300px !important;
    border-radius: 40px !important;
    color: red !important;
} 
